:root{
  --container-height: 85vh;
  --full-width: 100vw;
  --full-height: 100vh;
}


body {
  width: var(--full-width);
  height: var(--full-height);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* app styles */
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}
.App {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-height:  var( --container-height );
  border-radius: 10px;
}

.navbar{
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.navbar h1{
  margin: 10px 0;
}
.navbar img{
  position: absolute;
  top: 30px;
  right: 20px;
  width: 32px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}
.navbar img:active{
  transform: scale(0.89);
}

.book-list {
  padding: 20px 35px;
  overflow-y: scroll;
  max-height: calc( var( --container-height ) * 0.50);
}
.book-list ul{
  padding: 0;
}
.book-list li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 4px;
  list-style-type: none;
}
.book-list li:hover{
  opacity: 0.7;
  text-decoration: line-through;
}
.book-list .title{
  font-weight: bold;
  font-size: 1.2rem;
}
.book-list .author{
  font-size: 0.9rem;
}
.empty{
  margin: 20px;
  text-align: center;
}

form{
  padding: 10px 15%;
}
input[type='text'] {
  width: 100%;
  max-height: 25px;
  box-sizing: border-box;
  padding: 5px;
  margin: 6px 0;
  border: 0;
}

input[type='submit']{
  margin: 10px auto;
  border-radius: 4px;
  border: 0;
  padding: 6px 20px;
  display: block;
  cursor: pointer;
}
input[type='submit']:active{
  border: 2px inset grey;
  transform: scale(0.905);
}
.repo{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.3rem;  
}
.repo:active{
  transform: scale(0.8);
}

.footer{
  position: absolute;
  bottom: 15px;
  z-index: 100;
}
.footer a{
  text-decoration: none;
  font-size: 0.65rem;
  font-style: italic;
}